html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.target {
    height: 50px;
    width: 150px;
    background: red;
    position: relative;
}

.shooter {
    height: 50px;
    width: 300px;
    background: green;
    position: relative;
}

.projectile {
    height: 80px;
    width: 15px;
    background: green;
    position: absolute;
    bottom: 0;
}