html, body {
    padding: 0;
    margin: 0;
}

.target {
    height: 30px;
    width: 120px;
    background: red;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
    will-change: transform;
}

.shooter {
    height: 30px;
    width: 150px;
    background: green;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0,0,0,1);
    will-change: transform;
}

.projectile {
    height: 40px;
    width: 10px;
    border-radius: 25%;
    position: absolute;
    will-change: transform;
}

.projectile.enemyProj {
    background: red;
}

.projectile.allyProj {
    background: blue;
}

.powerUp {
    background-color: bisque;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    will-change: transform;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
}